<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eposWebOrders">
<listeners>
 <listener class-name="com.epos.resources.Listeners"/>
</listeners>
  <test  name="LoginPageTest">
    <classes>
      <class name="com.epos.TestPages.LoginPageTest"/>
    </classes>
  </test> <!-- LoginPageTest -->
</suite> <!-- eposWebOrders -->
